body {
    background-color: lavender;
}

div {
    background-color: peachpuff;
}

.list-item {
    background-color: darkseagreen;
}

.main-heading {
    background-color: aqua;
}

#first-paragraph {
    background-color: lightcoral;
}
nav {
    background-color: mediumpurple;
}

#nav-1 {
    background-color: gold;
}

#div-1 {
     background-color: greenyellow;  
}